label-link-matches {
	--label-color: #000;
	--label-highlight-color: yellow;
	--label-font-family: Times;


	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none; user-select: none;
	-o-user-select: none;

	text-align: center;
	display: block;
	color: var(--label-color);
	font-family: var(--label-font-family);
	font-size: 3em;
}

label-link-matches .match-list {
	height: 20%;
	width: 100%;
	margin: 0 auto;
	margin-top: 5%;
}

label-link-matches .highlight {
	color: var(--label-highlight-color);
}

label-link-matches a {
	text-decoration: none;
	color: inherit;
}
