body {
    background-image: url('../images/background.jpg');
    background-size: cover;
    overflow-y: hidden;
    overflow-x: hidden;
}

/* Results Display Box
 * This is where the results from the autocomplete search are displayed.
 * They are displayed in the middle of the page.
 ******************************************************************************/
#search-display {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none; user-select: none;
    -o-user-select: none;

    height: 20em;
    width: 45em;
    margin: 0 auto;
    margin-top: 3em;
}

/* Settings Panel Toggle-Box
 ******************************************************************************/
#settings {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none; user-select: none;
    -o-user-select: none;

    height: 2em;
    width: 2em;
    padding:.5em;
    background-color: transparent;
    position: absolute;
    right: 0px;
    top: 0px;
}

/* Settings Box Background Image
 ******************************************************************************/
#settings .background {
    height: 100%;
    width: 100%;
    margin-top: -4em;
    -webkit-transition: margin-top 0.25s linear;
    transition: margin-top 0.25s linear;
}

#settings:hover .background {
    margin-top: 0em;
    animation: spin 1.5s linear infinite;
}

@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

/* Settings Panel Toggle-Box
 ******************************************************************************/
.entry {
    width: 100%;
    height: 20%;
    text-align: center;
    vertical-align: middle;
    display: table;
    font-family: 'Roboto Mono', sans-serif;
    font-size: 3em;
    color: white;
}

.entry a {
    text-decoration: none;
    color: white;
}

.entry span {
    display: inline-block;
    vertical-align: middle;
    display: table-cell;
}

.entry .else {
    opacity: 0.75;
}

.entry .highlighted {
    color: cyan;
}

video {
    display: block;
    margin: auto;
    text-align: center;
    height: 98vh;
    width: 90vw;
    border: 0;
    padding: 0;
}

.ui.basic.modal.settings .context {
    display: block;
    text-align: center;
    padding: 0 auto;
    width: 100%
    font-family: 'Roboto Mono', sans-serif;
}

.ui.basic.modal.settings .text-input {
    outline: none;
    padding: .7em;
    margin: .2em;
    margin-bottom: 1em;
    border: 2px solid rgb(151, 129, 151);
    border-radius: 7px;
    background: transparent;
    font-size: 2em;
    color: white;
    font-family: 'Roboto Mono', sans-serif;
}

.ui.basic.modal.settings .text-input:focus {
    border-color: white;
}

#remove-select-label {
    padding-bottom: 0.7em;
}

.ui.selection.dropdown {
    line-height: 2.5em;
}

.ui.fluid.dropdown.selection {
    border: 2px solid rgb(151, 129, 151);
    border-radius: 7px;
    background: transparent;
    color: white;
    margin-bottom: 12em;
}

.ui.fluid.dropdown.selection:focus {
    border-color: white;
}

.ui.fluid.dropdown.selection:focus .icon {
    color: white;
}

.ui.fluid.dropdown.selection .icon {
    color: rgb(151, 129, 151);
}

.ui.fluid.dropdown.selection .label {
    font-family: 'Roboto Mono';
    font-size: 1.5em;
}

.ui.fluid.dropdown.selection .text {
    color: white;
    font-family: 'Roboto Mono';
    font-size: 1.5em;
}

.ui.selection.visible.dropdown > .text:not(.default) {
    color: rgba(115, 115, 115, 0.87) !important;
}

.ui.fluid.search.dropdown.selection .menu {
    border-left: 1px solid rgb(151, 129, 151);
    border-right: 1px solid rgb(151, 129, 151);
    border-bottom: 1px solid rgb(151, 129, 151);
    margin-left: -2px;
    background-color: transparent;
}

.ui.fluid.search.dropdown.selection .menu .item {
    font-family: 'Roboto Mono';
    font-size: 1.2em;
    color: white;
    border: none;
    background-color: transparent;
}

.ui.fluid.search.dropdown.selection .menu .message {
    font-family: 'Roboto Mono';
    font-size: 1.2em;
    color: white;
}

.ui.fluid.search.dropdown.selection > input.search {
    color: white;
    font-size: 1.40em;
    font-family: 'Roboto Mono', sans-serif;
}




body ::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 10px;
}

body ::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 0px;
}

body ::-webkit-scrollbar-thumb {
  cursor: pointer;
  border-radius: 0px;
  background: rgba(0, 0, 0, 0.25);
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
}

body ::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(0, 0, 0, 0.15);
}

body ::-webkit-scrollbar-thumb:hover {
  background: rgba(151, 129, 151, 0.8);
}

















/*--------------------
        Fluid
---------------------*/

.ui.fluid.input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ui.fluid.input > input {
  width: 0px !important;
}

/*--------------------
        Size
---------------------*/

.ui.mini.input {
  font-size: 0.78571429em;
}

.ui.small.input {
  font-size: 0.92857143em;
}

.ui.input {
  font-size: 1em;
}

.ui.large.input {
  font-size: 1.14285714em;
}

.ui.big.input {
  font-size: 1.28571429em;
}

.ui.huge.input {
  font-size: 1.42857143em;
}

.ui.massive.input {
  font-size: 1.71428571em;
}

/*******************************
         Theme Overrides
*******************************/

/*******************************
         Site Overrides
*******************************/
/*!
 * # Semantic UI 2.2.12 - Label
 * http://github.com/semantic-org/semantic-ui/
 *
 *
 * Released under the MIT license
 * http://opensource.org/licenses/MIT
 *
 */

/*******************************
            Label
*******************************/

.ui.label {
  display: inline-block;
  line-height: 1;
  vertical-align: baseline;
  margin: 0em 0.14285714em;
  background-color: #E8E8E8;
  background-image: none;
  padding: 0.5833em 0.833em;
  color: rgba(0, 0, 0, 0.6);
  text-transform: none;
  font-weight: bold;
  border: 0px solid transparent;
  border-radius: 0.28571429rem;
  -webkit-transition: background 0.1s ease;
  transition: background 0.1s ease;
}

.ui.label:first-child {
  margin-left: 0em;
}

.ui.label:last-child {
  margin-right: 0em;
}

/* Link */

a.ui.label {
  cursor: pointer;
}

i.icon.delete:before {
  content: "\f00d";
}


/*--------------------
         Icon
---------------------*/

.ui.icon.input > i.icon {
  cursor: default;
  position: absolute;
  line-height: 1;
  text-align: center;
  top: 0px;
  right: 0px;
  margin: 0em;
  height: 100%;
  width: 2.67142857em;
  opacity: 0.5;
  border-radius: 0em 0.28571429rem 0.28571429rem 0em;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.ui.icon.input > i.icon:not(.link) {
  pointer-events: none;
}

.ui.icon.input input {
  padding-right: 2.67142857em !important;
}

.ui.icon.input > i.icon:before,
.ui.icon.input > i.icon:after {
  left: 0;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
  margin-top: -0.5em;
}

.ui.icon.input > i.link.icon {
  cursor: pointer;
}

.ui.icon.input > i.circular.icon {
  top: 0.35em;
  right: 0.5em;
}

/* Left Icon Input */

.ui[class*="left icon"].input > i.icon {
  right: auto;
  left: 1px;
  border-radius: 0.28571429rem 0em 0em 0.28571429rem;
}

.ui[class*="left icon"].input > i.circular.icon {
  right: auto;
  left: 0.5em;
}

.ui[class*="left icon"].input > input {
  padding-left: 2.67142857em !important;
  padding-right: 1em !important;
}

/* Focus */

.ui.icon.input > input:focus ~ i.icon {
  opacity: 1;
}


@font-face {
  font-family: 'Icons';
  src: url("./themes/default/assets/fonts/icons.eot");
  src: url("./themes/default/assets/fonts/icons.eot?#iefix") format('embedded-opentype'), url("./themes/default/assets/fonts/icons.woff2") format('woff2'), url("./themes/default/assets/fonts/icons.woff") format('woff'), url("./themes/default/assets/fonts/icons.ttf") format('truetype'), url("./themes/default/assets/fonts/icons.svg#icons") format('svg');
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-decoration: inherit;
  text-transform: none;
}

i.icon {
  display: inline-block;
  opacity: 1;
  margin: 0em 0.25rem 0em 0em;
  width: 1.18em;
  height: 1em;
  font-family: 'Icons';
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  text-align: center;
  speak: none;
  font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

i.icon:before {
  background: none !important;
}


/* Removable label */

.ui.label > .close.icon,
.ui.label > .delete.icon {
  cursor: pointer;
  margin-right: 0em;
  margin-left: 0.5em;
  font-size: 0.92857143em;
  opacity: 0.5;
  -webkit-transition: background 0.1s ease;
  transition: background 0.1s ease;
}

.ui.label > .delete.icon:hover {
  opacity: 1;
}
