current-input-display {
	--height: 1.5em;
	--background-color: rgba(20, 20, 20, 0.75);
	--color: #ccc;

	--prompt-background-color: var(--color);
	--prompt-color: var(--background-color);
	--prompt-font-family: monospace;

	--input-text-color: #ccc;
	--input-font-family: monospace;

	background-color: var(--background-color);
	width: 100%;
	height: var(--height);
	padding: 0;
	overflow: hidden;
	position: fixed;
	bottom: 0;
}

current-input-display div {
	float: left;
	display: inline;
}

current-input-display .text {
	padding: 0;
	line-height: var(--height);
	color: var(--input-text-color);
	font-family: "Monaco", "Lucida Console", monospace;
	font-size: 1em;
}

current-input-display .prompt {
	padding-left: calc(var(--height) * 0.25);
	background-color: var(--prompt-background-color);
	color: var(--prompt-color);
}

current-input-display .triangle {
	margin-right: calc(var(--height) * -0.3);
	border-left: calc(var(--height) / 2) solid var(--prompt-background-color);
	border-right: calc(var(--height) / 2) solid transparent;
	border-bottom: calc(var(--height) / 2) solid transparent;
	border-top: calc(var(--height) / 2) solid transparent;
}

current-input-display .text:not(.prompt) span::after {
	height: var(--height);
  background-color: var(--color);
  content: " ";
  white-space: pre;
    animation-name: blink;
    animation-duration: 900ms;
    animation-iteration-count: infinite;
    opacity: 1;
}

@keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 0; }
	100% { opacity: 1; }
}
